@use './variables.scss' as *;

.ygo-dropdown {
    background-color: $ygo-orange;
    border-color: $ygo-dark;
    color: $ygo-primary;

    option:hover {
        background-color: $ygo-medium !important;
    }
}

.ygo-counter {
    color: $ygo-danger;
}